{% extends 'main_page.html' %}
{% load static %}

{% block content %}
<div class="container mt-3">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %} 
                <div class="alert alert-success text-center alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
<div class="container mb-0">
    <h1>{{ cake_order.title }}</h1>
    <p>{{ cake_order.description }}</p>
    <p>{{ cake_order.order_terms.standard }}</p>
    <p>{{ cake_order.order_terms.urgent }}</p>
    <p>{{ cake_order.how_to_order.instructions }}</p>
    <ul>
        {% for item in cake_order.how_to_order.details %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <p>{{ cake_order.payment.prepayment }}</p>
    {% for option in cake_order.delivery.options %}
    <p>{{ option }}</p>
    {% endfor %}
    <h5>Требования</h5>
    <ul>
        <li>{{ cake_order.requirements.min_weight }}</li>
        <li>{{ cake_order.requirements.price_per_kg }}</li>
    </ul>

    <p>{{ cake_order.final_message }}</p>
</div>
<div class="part2">
    <div class="container mt-4 mb-0 text-center">
        <h3>Возможные начинки</h3>
        <div class="row">
            {% for cake in cakes %}
            <div class="col-6 col-lg-3 mb-4">
                <figure class="figure">
                    <img src="{% static cake.image_path %}"
                        class="figure-img img-fluid rounded cake_img"
                        alt="{{ cake.name }}">
                    <figcaption class="figure-caption text-center">
                        <strong>{{ cake.name }}</strong><br>
                        {{ cake.quantity }} г
                    </figcaption>
                </figure>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container mt-4 mb-0 text-center">
    <h3>Заполнить форму для заказа</h3>
    <p>
        <button class="btn btn-outline-secondary" type="button"
            data-bs-toggle="collapse" data-bs-target="#collapseExample"
            aria-expanded="{% if form.errors %}true{% else %}false{% endif %}"
             aria-controls="collapseExample">
            Форма
        </button>
    </p>
    <div class="collapse {% if form.errors %}show{% endif %}" id="collapseExample">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-8"> 
                <div class="card card-body pink_card mb-5 pt-5" style="position: relative;">
                    <button type="button" class="btn-close" aria-label="Close"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseExample"
                        style="position: absolute; top: 10px; right: 10px; z-index: 10;"></button>

                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                            <div class="alert alert-danger text-center">
                                {{ message }}
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <form method="POST" action="{% url 'Confectionary:custom_cakes' %}#collapseExample" id="my-form-id">
                        {% csrf_token %}

                        {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}

                        <div class="row">

                            <div class="col-lg-6"> 
                                <div class="form-group mb-3">
                                    <label for="{{ form.first_name.id_for_label }}"><h5>Имя</h5></label>
                                    {{ form.first_name }}
                                    {% if form.first_name.errors %}
                                    <div class="error text-danger mt-1">
                                        {% for error in form.first_name.errors %}{{ error }}{% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6"> 
                                <div class="form-group mb-3">
                                    <label for="{{ form.last_name.id_for_label }}"><h5>Фамилия</h5></label>
                                    {{ form.last_name }}
                                    {% if form.last_name.errors %}
                                    <div class="error text-danger mt-1">
                                        {% for error in form.last_name.errors %}{{ error }}{% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6"> 
                                <div class="form-group mb-3">
                                    <label for="{{ form.phone_number.id_for_label }}"><h5>Номер телефона</h5></label>
                                    {{ form.phone_number }}
                                    {% if form.phone_number.errors %}
                                    <div class="error text-danger mt-1">
                                        {% for error in form.phone_number.errors %}{{ error }}{% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6"> 
                                <div class="form-group mb-3">
                                    <label><h5>Выбор начинки</h5></label><br>
                                    {{ form.filling }}
                                    {% if form.filling.errors %}
                                    <div class="error text-danger mt-1">
                                        {% for error in form.filling.errors %}{{ error }}{% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6"> 
                                <div class="form-group mb-3">
                                    <label for="{{ form.weight.id_for_label }}"><h5>Вес торта (кг)</h5></label>
                                    {{ form.weight }}
                                    {% if form.weight.errors %}
                                    <div class="error text-danger mt-1">
                                        {% for error in form.weight.errors %}{{ error }}{% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6"> 
                                <div class="form-group mb-3">
                                    <label for="{{ form.event_date.id_for_label }}"><h5>Дата мероприятия</h5></label>
                                    {{ form.event_date }}
                                    {% if form.event_date.errors %}
                                    <div class="error text-danger mt-1">
                                        {% for error in form.event_date.errors %}{{ error }}{% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                             <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label><h5>Выбор соц. сети для связи</h5></label><br>
                                    {{ form.social_media }}
                                    {% if form.social_media.errors %}
                                    <div class="error text-danger mt-1">
                                        {% for error in form.social_media.errors %}{{ error }}{% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6"> 
                                <div class="form-group mb-3">
                                    <label><h5>Способ доставки</h5></label><br>
                                    {{ form.delivery_method }}
                                    {% if form.delivery_method.errors %}
                                    <div class="error text-danger mt-1">
                                        {% for error in form.delivery_method.errors %}{{ error }}{% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                        </div>

                        <button type="submit" class="btn mt-3"
                            style="background-color: #721c24; color: white;">Оформить
                            заказ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}