{% extends 'main_page.html' %}
{% load static %}

{% block content %}
<div class="container mt-5 mb-0">
    <h1>{{ cake_order.title }}</h1>
    <p>{{ cake_order.description }}</p>
    <p>{{ cake_order.order_terms.standard }}</p>
    <p>{{ cake_order.order_terms.urgent }}</p>
    <p>{{ cake_order.how_to_order.instructions }}</p>
    <ul>
        {% for item in cake_order.how_to_order.details %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <p>{{ cake_order.payment.prepayment }}</p>
    {% for option in cake_order.delivery.options %}
    <p>{{ option }}</p>
    {% endfor %}
    <h5>Требования</h5>
    <ul>
        <li>{{ cake_order.requirements.min_weight }}</li>
        <li>{{ cake_order.requirements.price_per_kg }}</li>
    </ul>

    <p>{{ cake_order.final_message }}</p>
</div>
<div class="part2">
    <div class="container mt-4 mb-0 text-center">
        <h3>Возможные начинки</h3>
        <div class="row">
            {% for cake in cakes %}
            <div class="col-6 col-lg-3 mb-4">
                <figure class="figure">
                    <img src="{{ cake.image.url }}"
                        class="figure-img img-fluid rounded cake_img"
                        alt="{{ cake.name }}">
                    <figcaption class="figure-caption text-center">
                        <strong>{{ cake.name }}</strong><br>
                        {{ cake.quantity }} г
                    </figcaption>
                </figure>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container mt-4 mb-0 text-center">
    <h3>Заполнить форму для заказа</h3>
    <p>
        <button class="btn btn-outline-secondary" type="button"
            data-bs-toggle="collapse" data-bs-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
            Форма
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-5">
                <div class="card card-body pink_card mb-5">
                    <button type="button" class="btn-close" aria-label="Close" data-bs-toggle="collapse" data-bs-target="#collapseExample" style="position: absolute; bottom: 10px; right: 10px;"></button>
                    <form method="POST" action>
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="first_name"><h5>Имя</h5></label>
                            <input type="text" id="first_name" name="first_name"
                                class="form-control col-md-4" placeholder="Иван"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="last_name"><h5>Фамилия</h5></label>
                            <input type="text" id="last_name" name="last_name"
                                class="form-control" placeholder="Иванов"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="phone_number"><h5>Номер
                                    телефона</h5></label>
                            <input type="tel" id="phone_number"
                                name="phone_number"
                                class="form-control"
                                placeholder="+7 123 456 78 90"
                                required>
                        </div>

                        <div class="form-group">
                            <label><h5>Выбор начинки</h5></label><br>
                            <label class="radio-inline">
                                <input type="radio" name="filling"
                                    value="Шоколадный крем" required> Шоколадный
                                крем
                            </label><br>
                            <label class="radio-inline">
                                <input type="radio" name="filling"
                                    value="Крем с ванильным вкусом" required>
                                Крем с
                                ванильным вкусом
                            </label><br>
                            <label class="radio-inline">
                                <input type="radio" name="filling"
                                    value="Фрукты и ягоды" required> Фрукты и
                                ягоды
                            </label><br>
                            <label class="radio-inline">
                                <input type="radio" name="filling"
                                    value="Карамель"
                                    required> Карамель
                            </label><br>
                            <label class="radio-inline">
                                <input type="radio" name="filling" value="Орехи"
                                    required> Орехи
                            </label><br>
                        </div>

                        <div class="form-group">
                            <label for="weight"><h5>Вес торта (кг)</h5></label>
                            <input type="number" id="weight" name="weight"
                                class="form-control" step="0.1" min="1"
                                placeholder="1.5" required>
                        </div>

                        <div class="form-group">
                            <label for="event_date"><h5>Дата
                                    мероприятия</h5></label>
                            <input type="date" id="event_date" name="event_date"
                                class="form-control" placeholder="2025-04-15"
                                required>
                        </div>

                        <div class="form-group">
                            <label><h5>Выбор соц. сети для
                                    связи</h5></label><br>
                            <label class="radio-inline">
                                <input type="radio" name="social_media"
                                    value="ВКонтакте" required> ВКонтакте
                            </label><br>
                            <label class="radio-inline">
                                <input type="radio" name="social_media"
                                    value="Instagram" required> Instagram
                            </label><br>
                            <label class="radio-inline">
                                <input type="radio" name="social_media"
                                    value="WhatsApp"
                                    required> WhatsApp
                            </label><br>
                            <label class="radio-inline">
                                <input type="radio" name="social_media"
                                    value="Telegram"
                                    required> Telegram
                            </label><br>
                            <label class="radio-inline">
                                <input type="radio" name="social_media"
                                    value="Email"
                                    required> Email
                            </label><br>
                        </div>

                        <div class="form-group" id="vk_link_field"
                            style="display: none;">
                            <label for="vk_link"><h5>Ссылка на страницу
                                    ВКонтакте</h5></label>
                            <input type="url" id="vk_link" name="vk_link"
                                class="form-control"
                                placeholder="https://vk.com/your_profile">
                        </div>

                        <div class="form-group">
                            <label for="delivery_method"><h5>Способ
                                    доставки</h5></label><br>
                            <label class="radio-inline">
                                <input type="radio" name="delivery_method"
                                    value="Самовывоз" required> Самовывоз
                            </label><br>
                            <label class="radio-inline">
                                <input type="radio" name="delivery_method"
                                    value="Доставка по городу" required>
                                Доставка
                            </label><br>
                        </div>

                        <button type="submit" class="btn mt-3"
                            style="background-color: #721c24; color: white;">Оформить
                            заказ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}