{% load static %}
<footer class="text-center text-lg-start text-muted">
    <!-- Section: Social media -->
    <section
        class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Связаться через социальные сети:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div class="footer-icons">
            <a target="_blank" href="https://t.me/" class="me-4 text-reset">
                <img src="{% static 'img/telegram.png' %}" alt="Телеграм"
                    width="30" height="30">
            </a>
            <a target="_blank" href="https://vk.com/" class="me-4 text-reset">
                <img src="{% static 'img/vk.png' %}" alt="ВК" width="30"
                    height="30">
            </a>
            <a target="_blank" href="https://wa.me/" class="me-4 text-reset">
                <img src="{% static 'img/WhatsApp.png' %}" alt="WhatsApp"
                    width="30" height="30">
            </a>
            <a target="_blank"
                href="https://github.com/Tatyanka25/Course-paper-3rd-year"
                class="me-4 text-reset">
                <img src="{% static 'img/GitHub.png' %}" alt="Гит хаб"
                    width="30" height="30">
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class>
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"><img
                                src="{% static 'img/cake.png' %}" alt="Лэйбл"
                                width="30" height="30"></i>Whisk & Wonder
                    </h6>
                    <p>
                        Окунись в мир нежнейших десертов, где каждая выпечка –
                        мелодия вкуса. Натуральные ингредиенты, любовь к деталям
                        и капля магии в каждом кусочке!
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Контакты</h6>
                    <p><img src="{% static 'img/place.png' %}"
                            alt="Место нахождения" width="30" height="30"><i
                            class="fas fa-home me-3"></i>ул. Циолковского 16</p>
                    <p><img src="{% static 'img/email.png' %}" alt="Почта"
                            width="30" height="30"><i
                            class="fas fa-envelope me-3"></i>lapshinatatyana25@mail.ru</p>
                    <p><img src="{% static 'img/phone.png' %}"
                            alt="Номер телефона" width="30" height="30"><i
                            class="fas fa-phone me-3"></i> + 7 910 393 05 02</p>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="low_footer text-center p-4">
            Made with: Bootstrap and Django
        </div>
        <!-- Copyright -->
    </footer>