{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Кондитерская Whisk & Wonder - Главная - Дзержинск Нижегородская область{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}Добро пожаловать в Whisk & Wonder! Лучшие торты, пирожные и десерты ручной работы на заказ в Дзержинске. Свежая выпечка и незабываемые эмоции.{% endblock %}">
    <meta name="google-site-verification" content="UQUhMPn4wcFCYPOoiluYe-3tHzW2CXhrJVOVDLrub5E" />
    <meta name="yandex-verification" content="2d7110f736093ac4" />
    {% block canonical_url %}
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    {% endblock %}
    {% block meta_robots %}
    <meta name="robots" content="index, follow">
    {% endblock %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous">
    <link href="{% static 'css/confectionary.css' %}" rel="stylesheet">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet">
    {% block schema_markup %}
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Bakery", 
        "name": "Кондитерская Whisk & Wonder",
        "description": "{{ self.block.meta_description.render|escapejs }}", 
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "ул. Циолковского, 16",
          "addressLocality": "Дзержинск",
          "addressRegion": "Нижегородская область",
          "postalCode": "606025",
          "addressCountry": "RU"
        },
        "telephone": "+79103930502",
        "email": "lapshinatatyana25@mail.ru",
        "url": "{{ request.scheme }}://{{ request.get_host }}{% url 'Confectionary:main_page' %}",
        "logo": "{{ request.scheme }}://{{ request.get_host }}{% static 'img/logo.png' %}",
        "image": "{{ request.scheme }}://{{ request.get_host }}{% static 'img/about_us.jpg' %}", 
        "openingHours": "Mo,Tu,We,Th,Fr,Sa,Su 09:00-20:00", 
        "geo": { 
          "@type": "GeoCoordinates",
          "latitude": 56.235266, 
          "longitude": 43.445508
        },
        "priceRange": "$$" 
      }
      </script>
      {% endblock %}
  </head>
  <body>
    <div class="content-wrapper">
      <navigation>
        {% include 'nav.html' %}
      </navigation>

      {% block content %}
      <div class="container mt-5">
        <figure class="figure d-flex justify-content-center align-items-center">
          <img src="{% static 'img/logo.png' %}"
            class="figure-img img-fluid rounded"
            alt="Логотип нашей кондитерской"
            width="550rem"
            height="400rem">
        </figure>
        <h1 class="text-center">Whisk & Wonder - лучшая кондитерская в Дзержинске</h1>
        <div class="row g-0 bg-body-first position-relative">
          <div class="col-md-4 mb-md-0 p-md-4">
            <img src="{% static 'img/about_us.jpg' %}" class="w-100 rounded"
              alt="Наша кондитерская внутри">
          </div>
          <div class="col-md-8 p-4 ps-md-0">
            <h2 class="mt-0">О нас</h2>
            <p>Добро пожаловать в Whisk & Wonder – кондитерскую, где каждый
              десерт создается с любовью, мастерством и вниманием к деталям. Мы
              верим, что сладости – это не просто угощение, а настоящее
              искусство, способное дарить радость, уют и незабываемые
              эмоции.</p>
            <h3>Наша история</h3>
            <p>Все началось с маленькой пекарни, где мы, вдохновленные
              классическими и современными рецептами, экспериментировали с
              ингредиентами, создавая уникальные сочетания вкусов. Со временем
              наша любовь к выпечке и желание радовать людей привели к созданию
              Whisk & Wonder – места, где традиции и инновации объединяются,
              чтобы создавать настоящие кулинарные шедевры.</p>
            <h3>Наша миссия</h3>
            <p>Мы хотим, чтобы каждый кусочек нашего десерта приносил вам
              удовольствие, вдохновение и тепло. Whisk & Wonder – это не просто
              кондитерская, а место, где оживают мечты, а сладости становятся
              настоящей магией вкуса. Приходите к нам за сладкими чудесами – мы
              с радостью создадим что-то особенное именно для вас!💕</p>
            <p><button class="btn btn-sm btn-outline-secondary" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                Меню напитков
              </button></p>
          </div>
          <div class="collapse" id="collapseExample">
            <div class="card card-body pink_card menu text-center">
              <button type="button" class="btn-close" aria-label="Close"
                data-bs-toggle="collapse" data-bs-target="#collapseExample"
                style="position: absolute; bottom: 10px; right: 10px;"></button>
              <h4 class="text-center">Меню напитков – Whisk & Wonder ☕🍹</h4>
              {% for category in categories %}
              <h6>{{ category.name }}</h6>
              <div class="drink_menu">
                {% for product in category.products.all %}
                <p>
                  <img src="{% static category.icon %}"
                    alt="{{ category.name }} иконка" class="drink-icon"
                    width="30rem" height="30rem">
                  {{ product.name }} - {{ product.quantity }} мл | {{ product.description }} | {{ product.price }} руб.
                </p>
                {% endfor %}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="part2">
        <div class="container mt-5">
          <div class="card p-3">
            <h3 class="text-center">⭐️ Популярные товары ⭐️</h3>
            <div class="row mt-4">
              {% for product in popular_products %}
              <div class="col-lg-4 col-md-12 mb-4">
                <div class="card h-100">
                  <img src="{% static product.image_path %}"
                    alt="{{ product.name }} image" class="card-img-top">
                  <div class="card-body pink_card">
                    <h4 class="card-title">{{ product.name }}</h4>
                    <p class="card-text">{{ product.short_description }}</p>
                    <button class="btn btn-sm btn-outline-secondary"
                      data-bs-toggle="modal"
                      data-bs-target="#productModal{{ product.id }}">
                      Подробнее
                    </button>
                  </div>
                </div>
              </div>
              <div class="modal fade"
                id="productModal{{ product.id }}"
                tabindex="-1"
                aria-labelledby="productModalLabel{{ product.id }}"
                aria-hidden="true"
                data-bs-backdrop="static"
                data-bs-keyboard="false">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title"
                        id="productModalLabel{{ product.id }}">{{ product.name}}</h4>
                      <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>{{ product.description }}</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Закрыть</button>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="part-contact">
        <div class="container mt-5">
          <!-- Контакты -->
          <div class="row">
            <div class="col-md-6">
              <h3>Контакты</h3>
              <p><strong>Адрес:</strong> ул. Циолковского, 16, Дзержинск,
                Нижегородская область,
                Россия</p>
              <p><strong>График работы:</strong> ежедневно с 9:00 до 20:00</p>
              <p><strong>Телефон:</strong> +7 (910) 393-05-02</p>
              <p><strong>Email:</strong> lapshinatatyana25@mail.ru</p>
              <a target="_blank" href="https://t.me/">
                <img src="{% static 'img/telegram.png' %}" alt="Телеграм"
                  width="40" height="40">
              </a>
              <a target="_blank" href="https://vk.com/">
                <img src="{% static 'img/vk.png' %}" alt="ВК" width="40"
                  height="40">
              </a>
              <a target="_blank" href="https://wa.me/">
                <img src="{% static 'img/WhatsApp.png' %}" alt="WhatsApp"
                  width="40" height="40">
              </a>
            </div>

            <!-- Google Карта -->
            <div class="col-md-6">
              <div class="google-map-container">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2217.477305878794!2d43.44550807750052!3d56.235266173266666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414e3a8d29039d91%3A0x8334102cf94f308a!2z0L_RgC4g0KbQuNC-0LvQutC-0LLRgdC60L7Qs9C-LCAxNiwg0JTQt9C10YDQttC40L3RgdC6LCDQndC40LbQtdCz0L7RgNC-0LTRgdC60LDRjyDQvtCx0LsuLCA2MDYwMjU!5e0!3m2!1sru!2sru!4v1742814317973!5m2!1sru!2sru"
                  width="100%" height="350" style="border:0;" allowfullscreen
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}

      {% include 'footer.html' %}

    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </body>
</html>
